<!-- #region feedbacks. -->
<section class="feedbacks" id="feedbacks">
    <div class="container">
        <h2 class="feedbacks-title">Customer Feedbacks</h2>
        <p class="feedbacks-paragraph">See what our readers are saying about us!</p>
        <div class="swiper">
            <div class="swiper-wrapper">
                <!-- #region The 1'st slide. -->
                <div class="swiper-slide">
                    <p class="slide-message">Great selection, fast delivery, and beautifully packaged books. My go-to store for weekend reads!</p>
                    <div class="slide-profile">
                        <picture>
                            <source srcset="/img/feedbacks/jane-doe-avatar.jpg 1x, /img/feedbacks/jane-doe-avatar@2x.jpg 2x">
                            <img class="profile-photo" src="/img/feedbacks/jane-doe-avatar.jpg" alt="Profile photo.">
                        </picture>
                        <div class="profile-info">
                            <p class="info-username">Jane Doe</p>
                            <p class="info-professions">Book Lover, Reader</p>
                        </div>
                    </div>
                </div>
                <!-- #endregion -->
                <!-- #region The 2'nd slide. -->
                <div class="swiper-slide">
                    <p class="slide-message">Customer service was super helpful, and my order arrived earlier than expected. Highly recommend!</p>
                    <div class="slide-profile">
                        <picture>
                            <source srcset="/img/feedbacks/john-smith-avatar.jpg 1x, /img/feedbacks/john-smith-avatar@2x.jpg 2x">
                            <img class="profile-photo" src="/img/feedbacks/john-smith-avatar.jpg" alt="Profile photo.">
                        </picture>
                        <div class="profile-info">
                            <p class="info-username">John Smith</p>
                            <p class="info-professions">Editor, BookMag</p>
                        </div>
                    </div>
                </div>
                <!-- #endregion -->
                <!-- #region The 3'rd slide. -->
                <div class="swiper-slide">
                    <p class="slide-message">Love the curated picks and clear descriptions. Makes it easy to find my next favorite book.</p>
                    <div class="slide-profile">
                        <picture>
                            <source srcset="/img/feedbacks/emil-johnson-avatar.jpg 1x, /img/feedbacks/emil-johnson-avatar@2x.jpg 2x">
                            <img class="profile-photo" src="/img/feedbacks/emil-johnson-avatar.jpg" alt="Profile photo.">
                        </picture>
                        <div class="profile-info">
                            <p class="info-username">Emil Johnson</p>
                            <p class="info-professions">Author, Novelist</p>
                        </div>
                    </div>
                </div>
                <!-- #endregion -->
                <!-- #region The 4'th slide. -->
                <div class="swiper-slide">
                    <p class="slide-message">Absolutely love this book shop! The selection on Diamat and its insights into political theory is fantastic. My order arrived quickly and beautifully packaged. A must-visit for anyone looking to expand their mind!</p>
                    <div class="slide-profile">
                        <picture>
                            <source srcset="/img/feedbacks/yosef-vissariello-avatar.jpg 1x, /img/feedbacks/yosef-vissariello-avatar@2x.jpg 2x">
                            <img class="profile-photo" src="/img/feedbacks/yosef-vissariello-avatar.jpg" alt="Profile photo.">
                        </picture>
                        <div class="profile-info">
                            <p class="info-username">Yosef Vissariello</p> 
                            <p class="info-professions">Writer, Priest</p>
                        </div>
                    </div>
                </div>
                <!-- #endregion -->
                <!-- #region The 5'th slide. -->
                <div class="swiper-slide">
                    <p class="slide-message">Yay! Booksy is the best! ✨ They have a super fun selection of books, and my order arrived so fast, all wrapped up like a treasure! 🎁 The customer service is super sweet! This is definitely my go-to for weekend reading adventures!</p>
                    <div class="slide-profile">
                        <picture>
                            <source srcset="/img/feedbacks/stolfo-otto-avatar.jpg 1x, /img/feedbacks/stolfo-otto-avatar@2x.jpg 2x">
                            <img class="profile-photo" src="/img/feedbacks/stolfo-otto-avatar.jpg" alt="Profile photo.">
                        </picture>
                        <div class="profile-info">
                            <p class="info-username">Stolfo Otto</p>
                            <p class="info-professions">Cosplayer, Romnovelist</p>
                        </div>
                    </div>
                </div>
                <!-- #endregion -->
                <!-- #region The 6'th slide. -->
                <div class="swiper-slide">
                    <p class="slide-message">Excellent selection of literature that embodies strong ideologies! Fast delivery and beautifully packaged. Customer service was efficient and knowledgeable about mystic and occult themes. A top choice for impactful reads!</p>
                    <div class="slide-profile">
                        <picture>
                            <source srcset="/img/feedbacks/alfred-hilder-avatar.jpg 1x, /img/feedbacks/alfred-hilder-avatar@2x.jpg 2x">
                            <img class="profile-photo" src="/img/feedbacks/alfred-hilder-avatar.jpg" alt="Profile photo.">
                        </picture>
                        <div class="profile-info">
                            <p class="info-username">Alfred Hilder</p>
                            <p class="info-professions">Artist, Writer</p>
                        </div>
                    </div>
                </div>
                <!-- #endregion -->
                <!-- #region The 7'th slide. -->
                <div class="swiper-slide">
                    <p class="slide-message">I absolutely love this bookshop! The selection is fantastic, and my order arrived quickly and beautifully packaged. The customer service was friendly and helpful. A must-visit for any book lover! Highly recommended! 📚✨</p>
                    <div class="slide-profile">
                        <picture>
                            <source srcset="/img/feedbacks/sarah-mitchell-avatar.jpg 1x, /img/feedbacks/sarah-mitchell-avatar@2x.jpg 2x">
                            <img class="profile-photo" src="/img/feedbacks/sarah-mitchell-avatar.jpg" alt="Profile photo.">
                        </picture>
                        <div class="profile-info">
                            <p class="info-username">Sarah Mitchell</p>
                            <p class="info-professions">Book Fan, Editor</p>
                        </div>
                    </div>
                </div>
                <!-- #endregion -->
            </div>
            <div class="swiper-navigation-elements">
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev">
                    <svg class="arrows" width="14" height="14">
                        <use href="/img/icons/icons.svg#arrow-left"></use>
                    </svg>
                </div>
                <div class="swiper-button-next">
                    <svg class="arrows" width="14" height="14">
                        <use href="/img/icons/icons.svg#arrow-right"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #endregion -->