<footer class="footer">
    <!-- Логотип -->
    <div class="container footer-container">
        <div class="footer-logo-nav">
            <div class="footer-logo">
                <a class="logo-link" href="./index.html">
                    <svg class="logo-icon" width="84" height="36">
                        <use href="./img/icons/icons.svg#logo"></use>
                    </svg>
                </a>
            </div>

            <!-- Навігація -->
            <nav class="footer-nav">
                <ul class="nav-list">
                    <li class="nav-entry"><a href="./index.html">Home</a></li>
                    <li class="nav-entry"><a href="#books">Books</a></li>
                    <li class="nav-entry"><a href="#feedbacks">Feedback</a></li>
                    <li class="nav-entry"><a href="#location">Location</a></li>
                </ul>
            </nav>
        </div>

        <!-- Форма  підписки -->
        <form class="sub-form">
            <p class="sub-title">Join</p>
            <div class="sub-form-group">
                <input class="sub-input" type="email" id="user-email" name="user-email"
                    pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" title="usermail@gmail.com"
                    placeholder="Enter your email" required />
                <button class="sub-btn" type="submit">Sign Up</button>
            </div>
            <small class="sub-note">* Required field</small>
        </form>
    </div>

    <!-- Копірайт -->
    <p class="footer-copy">© 2025 Booksy. All rights reserved.</p>
    </footer>