<section class="header">
    <div class="container">
        <div class="header-logo">
            <svg class="logo" width="83" height="21">
                <use href="./img/icons/icons.svg#logo"></use>
            </svg>
            <div class="logo-text">Booksy</div>
            <button class="menu-button">☰</button>
        </div>

        <div class="promo-banner">
            <div class="promo-text">Get 10% off your first order</div>
            <a href="#" class="shop-now">Shop Now!</a>
        </div>

        <div class="modal" id="mobileMenu">
            <div class="modal-header">
                <div class="modal-logo">Booksy</div>
                <button class="menu-button close-button">✕</button>
            </div>

            <a href="#" class="nav-link">
                <span>Home</span>
                <div class="checkbox-container">
                    <span class="custom-checkbox"></span>
                </div>
            </a>
            <a href="#" class="nav-link">
                <span>Books</span>
                <div class="checkbox-container">
                    <span class="custom-checkbox"></span>
                </div>
            </a>
            <a href="#" class="nav-link">
                <span>Feedbacks</span>
                <div class="checkbox-container">
                    <span class="custom-checkbox"></span>
                </div>
            </a>
            <a href="#" class="nav-link">
                <span>Events</span>
                <div class="checkbox-container">
                    <span class="custom-checkbox"></span>
                </div>
            </a>
            <a href="#" class="nav-link">
                <span>Location</span>
                <div class="checkbox-container">
                    <span class="custom-checkbox"></span>
                </div>
            </a>
        </div>
    </div>
</section>