<!-- location section -->
<section class="location-section" id="location">
  <div class="container">
    <div class="location-info">
      <div class="location-text">
        <p class="location-label">Location</p>
        <h2 class="location-title">How to find us</h2>
        <p class="location-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
        </p>
      </div>
      <ul class="contact-list">
        <li>
          <span class="icon">
            <!-- email SVG -->
            <svg width="20" height="17">
              <use href="./img/icons/icons.svg#email"></use>
            </svg>
          </span>
          <div class="contact-text">
            <span class="contact-label">Email</span>
            <a href="mailto:hello@booksy.com" class="contact-link">hello@booksy.com</a>
          </div>
        </li>
        <li>
          <span class="icon">
            <!-- phone SVG -->
            <svg width="19" height="20">
              <use href="./img/icons/icons.svg#phone"></use>
            </svg>
          </span>
          <div class="contact-text">
            <span class="contact-label">Phone</span>
            <a href="tel:+612413043012" class="contact-link">+61 (241) 304-3012</a>
          </div>
        </li>
        <li>
          <span class="icon">
            <!-- location SVG -->
            <svg width="16" height="21">
              <use href="./img/icons/icons.svg#location"></use>
            </svg>
          </span>
          <div class="contact-text">
            <span class="contact-label">Office</span>
            <span class="contact-address">123 Books St, Sydney NSW 2000 AU</span>
          </div>
        </li>
        </ul>
    </div>
    <!-- location map -->
    <iframe class="location-map" src="https://www.google.com/maps?q=123+Books+St,+Sydney+NSW+2000+AU&output=embed" width="100%" height="395"
      allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
      title="Bookshop Location">
    </iframe>
  </div>
</section>