.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 20px;
  max-width: 1440px;*/
  margin: 0 auto;
}
/* Основное меню скрыто на мобиле */
.nav-list {
  display: none;
}
.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.burger-icon {
  fill: #0b0500;
}
/* ------ Мобильное меню ------ */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fceee6;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 300ms ease, visibility 300ms ease;
  z-index: 1000;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
/* Плавное появление меню */
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
/* Контейнер для меню */
.mobile-menu-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px 20px;
  height: 100%;
}
/* Хедер мобильного меню: логотип + крест */
.mobile-menu-header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.mobile-menu-header .header-logo {
  display: block;
}
/* Крестик с отступом справа от логотипа */
.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 8px;
  margin-left: 211px;
}
@media (max-width: 430px) {
  .close-btn {
    margin-left: auto;
  }
}
/* Ссылки мобильного меню */
.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px; /* Расстояние между ссылками */
  margin-top: 14px; /* Отступ между шапкой меню и первой ссылкой */
  padding: 0;
  list-style: none;
}
.mobile-nav-link {
  font-size: 18px;
  font-weight: 500;
  color: #0b0500;
  text-decoration: none;
  border-bottom: 1px solid #e0e0e0;
  padding: 12px 0;
}
/* --- Tablet --- */
@media screen and (min-width: 768px) {
  .header-container {
    padding: 16px 32px;
  }
  .nav-menu {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .logo-container {
    margin-right: auto;
  }
  .burger-btn {
    display: none;
  }
  .nav-list {
    display: flex;
    gap: 32px;
  }
  .nav-link {
    padding: 24px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #0b0500;
  }
  .mobile-menu-container {
    padding: 16px 32px;
  }
}
/* --- Desktop --- */
@media screen and (min-width: 1440px) {
  .header-container {
    padding: 16px 64px;
  }
  .logo-container {
    margin-right: 817px;
  }
  .mobile-menu-container {
    padding: 16px 32px;
  }
}
