.location-section {
  margin-bottom: 64px;
}

.location-info {
  margin-bottom: 40px;
}

.location-label {
  font-weight: 600;
  margin-bottom: 16px;
}

.location-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
  margin: 0 0 16px 0;
}

.location-desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
  margin-bottom: 40px !important;
}

.contact-list li {
  display: flex;
  gap: 16px;
  font-size: 20px;
  line-height: 140%;
}

.contact-list li:not(:last-child) {
  margin-bottom: 24px;
}

.contact-list .icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-text {
  display: flex;
  flex-direction: column;
}

.contact-label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
}

.contact-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
  text-decoration: underline;
  transition: color 0.2s;
}

.contact-link:hover {
  color: #8b5c2b;
}

.contact-address {
  font-size: 16px;
}

.location-map {
  border: none;
  filter: grayscale(100%) brightness(110%);
}

div#mapDiv {
  filter: grayscale(95%) brightness(110%);
}

/* Планшет */
@media (min-width: 768px) {
  .location-info {
    display: flex;
    column-gap: 32px;
    margin-bottom: 80px;
  }

  .location-text {
    width: 336px;
  }

  .location-title {
    margin-bottom: 24px;
  }

  .location-desc {
    margin-bottom: 0 !important;
  }

  .contact-list {
    flex-shrink: 0;
    padding: 8px 0;
  }

  .contact-label {
    margin-bottom: 8px;
  }
}

/* Десктоп */
@media (min-width: 1440px) {
  .location-section {
    margin-bottom: 106px;
  }

  .location-info {
    column-gap: 80px;
  }

  .location-text {
    width: 732px;
  }

  .location-map {
    height: 738px;
  }
}
